.hakkinda .giris{
    margin-top: 70px;
    flex: 8;
    border: 3px solid rgba(0,0,0,0.3);
    border-radius: 20px;
    padding: 15px;
    width: 100%;
    font-family: "Josefin Sans", sans-serif;
    font-size: large;
    background-color: white;
    
}
.hakkinda .wrapper{
    display: flex;
    width: 100%;
    max-width: 1366px;
    padding: 0 10px;
    gap: 20px;
}
.hakkinda{
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 0 10px;
}