.bilecik h1 {
    margin-top: 20px;
    justify-content: center;
    font-family: "Ubuntu Sans Mono", monospace;
    width: 100%;
    display: flex;
    text-decoration: underline;
}

.ustkisim {
    margin-top: 30px;
    display: flex;
    width: 100%;
    justify-content: center;
    font-family: "Josefin Sans", sans-serif;
}

.ustkisim .wrapper {
    display: flex;
    width: 100%;
    max-width: 1366px;
    padding: 0 10px;
    gap: 20px;
}

.ustkisim .ustsol {
    flex: 6;
    border: 3px solid rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    background-color: white;
    padding: 15px;
}

.ustkisim .ustsag {
    flex: 6;
    border: 3px solid rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    background-color: white;
    padding: 15px;
}

.altkisim {
    margin-top: 30px;
    display: flex;
    width: 100%;
    justify-content: center;
    font-family: "Josefin Sans", sans-serif;
}

.altkisim .wrapper {
    display: flex;
    width: 100%;
    max-width: 1366px;
    padding: 0 10px;
    gap: 20px;
}

.altkisim .altsol {
    flex: 6;
    border: 3px solid rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    background-color: white;
    padding: 15px;
}

.altkisim .altsag {
    flex: 6;
    border: 3px solid rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    background-color: white;
    padding: 15px;
}

.carousel {
    max-width: 60%; /* Slider'ın maksimum genişliğini ayarlayın */
    margin: 0 auto; /* Slider'ı ortala */
    margin-top: 50px;
    margin-bottom: 30px;
}

.carousel-item img {
    max-width:   100%; /* Resimlerin maksimum genişliğini ayarlayın */
    height: 700px; /* Oranları korumak için */
}

.carousel-item {
    text-align: center; /* resimlerin dikey hizalanmasını sağlar */
}