<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/index.css">
    <title>Document</title>
</head>
<body>
    
    <div class="topbar">
        <div class="wrapper">
            <div class="center">
                <a href="../index.php">Hakkında</a>
                <a href="ozgecmis.html">Özgeçmiş</a>
                <a href="sehrim.html">Şehrim</a>
                <a href="takimimiz.html">Takımımız</a>
                <a href="iletisim.html">İletişim</a>

            </div>
            <div class="right">
                <a href="../login.php">Giriş Yap</a>
            </div>           
        </div>
    </div>

    <div class="iletisim">
        <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>İletişim Formu</title>
</head>
<body>

<div class="iletisim">

    
    <div id="app">
        <form @submit.prevent="submitForm">
            <div class="form-container">
                <h1 style="margin-bottom: 20px; display: flex; justify-content: center; text-decoration: underline;">İletişim Formu</h1>

                <label for="firstName">Ad:</label>
                <input type="text" id="firstName" v-model="firstName" required><br><br>

                <label for="lastName">Soyad:</label>
                <input type="text" id="lastName" v-model="lastName" required><br><br>

                <label for="email">E-posta:</label>
                <input type="email" id="email" v-model="email" required><br><br>

                <label for="subject">Konu:</label>
                <input type="text" id="subject" v-model="subject" required><br><br>

                <label for="message">Mesaj:</label><br>
                <textarea id="message" v-model="message" rows="4" required></textarea><br><br>

                <button type="button" @click="validateFormVue">Gönder (Vue.js)</button>
                <button type="button" @click="validateFormJS">Gönder (JavaScript)</button>
                <div id="errorMessages" v-html="errorMessages"></div>
            </div>
                        
        </form>
        
        
    </div>
</div>



    <script src="https://cdn.jsdelivr.net/npm/vue@2"></script>
    <script src="../public/js/validation.js"></script>



</body>
</html>

